body {
   font-size: 25px;
   font-family:Arial, sans-serif;
} 
header{
    background-color:#414181 ;
}

nav{
    display:inline-block;
    width:80%;
    /*background-color: blueviolet;*/
}

.current{
    width: 10%;
    float: right;
}

.neighbordisp{
    display: grid;
    grid-template-columns: 40% 40%;
    width:100%;
    justify-content: right;
    align-items: stretch;
    row-gap: normal;
}
.parksdisp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

main{
    background-color: pink;
    font-size:25px;
}
footer{background-color: palegreen;
}


li{display: inline-block;
    width:30%
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    color: pink;
}

p {
   line-height: 150%;   
}

